# Dependencies baked into the custom Airflow image for DAGs
vnstock>=4.0.1
vnstock3
pandas
pyarrow
mysql-connector-python
openpyxl
beautifulsoup4
seaborn
SQLAlchemy
apache-airflow-providers-postgres
psycopg2-binary
yfinance
minio
wbgapi
feedparser
requests
httpx
lxml
selectolax
tenacity
selenium
webdriver-manager
transformers>=4.30.0
torch
click==8.2.1