# ====== AIRFLOW ======
AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=apache/airflow:2.9.3
AIRFLOW_PROJ_DIR=./airflow
_PIP_ADDITIONAL_REQUIREMENTS=
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow



# MinIO Configuration
# Set MINIO_ENDPOINT=http://localhost:9000 for local testing, http://minio:9000 for Docker (automatically overridden in docker-compose.yaml)
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=your_minio_access_key_here
MINIO_SECRET_KEY=your_minio_secret_key_here
MINIO_BUCKET=thongtin-congty-va-bctc



# Database Configuration (for consumer)
# Set DB_HOST=localhost for local testing, dwh-postgres for Docker deployment
DB_HOST=localhost
DB_DSN=postgresql://your_db_user:your_db_password@localhost:5432/your_db_name
DB_SCHEMA=hethong_phantich_chungkhoan

# WebSocket Configuration
WEBSOCKET_URL=wss://stream2.simplize.vn/ws
SYMBOL_LIMIT=2000
SUB_BATCH_SIZE=500
